header {
  background-color: rgb(29, 28, 28);
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0%;
    padding: 10px;
    z-index: 1000;
    /* margin-bottom: 10px; */
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #999;
  }
  
  nav a:hover {
    color: #faf;
    
  }
  
  